version: "3"
services:
    icecast:
      build: .
      ports:
        - 0.0.0.0:1234:8443
      networks:
        - buba
      environment:
        - SOURCE_PASSWORD=
        - RELAY_PASSWORD=
        - ADMIN_USERNAME=
        - ADMIN_PASSWORD=
        - ADVERTISED_HOSTNAME=
        - QUEUE_SERVER=amqp://rabbits:rabbits@rabbits:5672
        - PLAY_DEVICE=hw:0,1,0
        - RECORD_DEVICE=hw:0,0,0
      volumes:
        - /mnt/cache:/data
        - ./pki:/pki
        - /tmp/volatile:/volatile
      devices:
        - /dev/snd
    redis:
        image: redis
        networks:
          - buba
    rabbits:
      image: rabbitmq:management
      ports:
        - 127.0.0.1:25672:15672
      environment:
        - RABBITMQ_DEFAULT_USER=rabbits
        - RABBITMQ_DEFAULT_PASS=rabbits
      volumes:
        - ./data/rmq:/var/lib/rabbitmq
      networks:
        - buba
    apashi:
      build: 
        context: .
        dockerfile: Dockerfile.httpd
      networks:
        - buba
      ports:
        - 1235:443
      volumes:
        - /mnt/HC_Volume_10629892/cache:/usr/local/apache2/cgi-bin
        - ./pki/:/pki/
        - /tmp/volatile:/volatile
networks:
  buba: